/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Kaksoisheiluri/nbproject/private/
/DoublePendulum/nbproject/private/
/DoublePendulum/build/
/Doublependlum/target/
/Doublependlum/nbproject/
